{{/* Load Plyr CSS first */}}
{{- $plyr := resources.Get "css/plyr.css" | fingerprint -}}
<link rel="stylesheet" href="{{ $plyr.RelPermalink }}">
{{/* Optional: your general site tweaks last */}}
{{- with resources.Get "css/custom.css" | fingerprint -}}
<link rel="stylesheet" href="{{ .RelPermalink }}">
<!-- MailerLite Universal -->
<script>
    (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
    .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
    n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
    (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
    ml('account', '1743911');
</script>
<!-- End MailerLite Universal -->
{{- end -}}

