<meta name="follow.it-verification-code" content="LBaRcnY72c7wzrce6KrR"/>
{{/* Load Plyr CSS first */}}
{{- $plyr := resources.Get "css/plyr.css" | fingerprint -}}
<link rel="stylesheet" href="{{ $plyr.RelPermalink }}">
{{/* Optional: your general site tweaks last */}}
{{- with resources.Get "css/custom.css" | fingerprint -}}
<link rel="stylesheet" href="{{ .RelPermalink }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lalezar&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap" rel="stylesheet">
{{- end -}}

