{{/* prettier-ignore-start */}}
{{/* layouts/shortcodes/spotify.html */}}

{{- $raw := .Get 0 -}}
{{- if hasPrefix $raw "http" -}}
  {{- $raw = replace $raw "https://open.spotify.com/" "" -}}
  {{- $raw = replace $raw "http://open.spotify.com/" "" -}}
{{- end -}}
{{- $height := .Get 1 | default "152" -}}

<div class="spotify-embed">
  <iframe
    src="https://open.spotify.com/embed/{{ $raw }}"
    width="100%"
    height="{{ $height }}"
    frameborder="0"
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"
  ></iframe>
</div>
{{/* prettier-ignore-end */}}


